---
- name: "Replace Sangoma with RedHat task"
  set_fact:
    ansible_os_family: 'RedHat'
  when:
    - ansible_os_family == 'Sangoma'

- name: "Set default ip address for zabbix_proxy_ip"
  set_fact:
    zabbix_proxy_ip: "{{ hostvars[inventory_hostname]['ansible_default_ipv4'].address }}"
  when:
    - zabbix_proxy_ip is not defined
    - "'ansible_default_ipv4' in hostvars[inventory_hostname]"

- name: "Install the correct repository"
  include: "RedHat.yml"
  when:
    - ansible_os_family == "RedHat"

- name: "Installing the database"
  include: "{{ zabbix_proxy_database_long }}.yml"

- name: "Create include dir zabbix-proxy"
  file:
    path: "{{ zabbix_proxy_include }}"
    owner: zabbix
    group: zabbix
    mode: "{{ zabbix_proxy_include_mode }}"
    state: directory
  become: true

- name: "Create module dir zabbix-proxy"
  file:
    path: "{{ zabbix_proxy_loadmodulepath }}"
    owner: zabbix
    group: zabbix
    state: directory
    mode: '0755'
  become: true

- name: "Configure zabbix-proxy"
  template:
    src: zabbix_proxy.conf.j2
    dest: /etc/zabbix/zabbix_proxy.conf
    owner: zabbix
    group: zabbix
    mode: "{{ zabbix_proxy_conf_mode }}"
  notify: restart zabbix-proxy
  become: true

- name: "Installing the Zabbix-api package on localhost"
  pip:
    name: zabbix-api
    state: present
  register: zabbix_api_package_installed
  until: zabbix_api_package_installed is succeeded
  delegate_to: localhost
  run_once: true
  become: "{{ zabbix_proxy_become_on_localhost }}"
  when:
    - zabbix_install_pip_packages | bool
    - zabbix_api_create_proxy | bool
  tags:
    - api

- name: Ensure proxy definition is up-to-date (added/updated/removed)
  zabbix_proxy:
    server_url: "{{ zabbix_api_server_url }}"
    http_login_user: "{{ zabbix_api_http_user | default(zabbix_http_user | default(omit)) }}"
    http_login_password: "{{ zabbix_api_http_password | default(zabbix_http_password | default(omit)) }}"
    login_user: "{{ zabbix_api_login_user }}"
    login_password: "{{ zabbix_api_login_pass }}"
    state: "{{ zabbix_proxy_state }}"
    status: "{{ zabbix_proxy_status }}"
    proxy_name: "{{ zabbix_proxy_name }}"
    description: "{{ zabbix_proxy_description | default(omit) }}"
    interface: "{{ zabbix_proxy_interface }}"
    validate_certs: "{{ zabbix_api_validate_certs | default(omit) }}"
    timeout: "{{ zabbix_api_timeout }}"
  when:
    - zabbix_api_create_proxy | bool
  delegate_to: localhost
  become: false
  tags:
    - api

- name: "zabbix-proxy started"
  service:
    name: zabbix-proxy
    state: started
    enabled: true
  become: true
  when: zabbix_proxy_manage_service | bool
