---

- name: "Configure SELinux when enabled"
  include: selinux.yml
  when:
    - zabbix_selinux | bool

- name: "Configure zabbix-agent"
  template:
    src: "{{ 'zabbix_agentd.conf.j2' if not zabbix_agent2 else 'zabbix_agent2.conf.j2' }}"
    dest: "/etc/zabbix/{{ zabbix_agent_conf if not zabbix_agent2 else zabbix_agent2_conf }}"
    owner: root
    group: root
    mode: "{{ zabbix_agent_conf_mode }}"
  notify:
    - restart zabbix-agent
  become: true
  when:
    - not (zabbix_agent_docker | bool)
  tags:
    - zabbix-agent
    - config
    - init

- name: "Create include dir zabbix-agent"
  file:
    path: "{{ zabbix_agent_include if not zabbix_agent2 else zabbix_agent2_include }}"
    owner: root
    group: zabbix
    mode: "{{ zabbix_agent_include_mode if not zabbix_agent2 else zabbix_agent2_include_mode }}"
    state: directory
  become: true
  tags:
    - config
    - include

- name: "Configure the firewall(d|iptables)"
  include: firewall.yml
  when:
    - (zabbix_agent_firewall_enable | bool) or (zabbix_agent_firewalld_enable | bool)

- name: "Remove zabbix-agent installation when zabbix-agent2 is used."
  include: remove.yml
  when:
    - zabbix_agent2 | bool
    - zabbix_agent_package_remove

- name: "Make sure the zabbix-agent service is running"
  service:
    name: "{{ zabbix_agent_service }}"
    state: started
    enabled: true
  become: true
  tags:
    - init
    - service
