---
# tasks file for zabbix_agent

- name: "Set variables specific for Zabbix Agent 2"
  set_fact:
    zabbix_agent_service: zabbix-agent2
    zabbix_agent_package: zabbix-agent2
  when:
    - zabbix_agent2 is defined
    - zabbix_agent2
  tags:
    - always

- name: "Reset zabbix_agent_version for Ubuntu 22.04 to 6.0"
  set_fact:
    zabbix_version: 6.0
    zabbix_agent_version: 6.0
  when:
    - ansible_distribution_release == "jammy"
    - ( zabbix_agent_version is version ('6.0','lt') or
        zabbix_version is version ('6.0','lt') )

- name: "Fix facts for linuxmint - distribution release"
  set_fact:
    zabbix_agent_distribution_release: xenial
  when:
    - ansible_os_family == "Linuxmint"
    - ansible_distribution_release == "sonya" or ansible_distribution_release == "serena"
  tags:
    - always

- name: "Fix facts for linuxmint - family"
  set_fact:
    zabbix_agent_os_family: Debian
  when:
    - ansible_os_family == "Linuxmint"
  tags:
    - always

- name: "Fix facts for XCP-ng - family"
  set_fact:
    zabbix_agent_os_family: RedHat
  when:
    - ansible_os_family == "XCP-ng"

- name: "Include OS-specific variables"
  include_vars: "{{ zabbix_agent_os_family }}.yml"
  tags:
    - always

- name: "Install the correct repository"
  include_tasks: "{{ zabbix_agent_os_family if (zabbix_agent_os_family not in ['Sangoma']) else 'RedHat' }}.yml"
  tags:
    - always

- name: "Configure Agent"
  include_tasks: Windows_conf.yml
  when:
    - zabbix_agent_os_family == "Windows"
  tags:
    - always

- name: "Configure Agent"
  include_tasks: Linux.yml
  when:
    - (zabbix_agent_os_family != "Windows" and zabbix_agent_os_family != "Darwin")
  tags:
    - always

- name: "Including userparameters"
  include_tasks: "userparameter.yml"
  when: zabbix_agent_userparameters|length > 0
  tags:
    - zabbix-agent
    - userparameter
